﻿@model NewEmolIndexViewModel
@using GridMvc.Html
@using EMOLExhibitors2.ViewModels

<hgroup class="title">
    <h1>New EMOL</h1>
    
</hgroup>

@using(@Html.BeginForm("Index", "NewEmol", FormMethod.Post))
{


    <div>
        @Html.Label("Select Event") @Html.DropDownList("Event", new SelectList(Model.Events, "ID", "Name", ViewBag.SelectedEvent), "Select Event", new { onchange = "$(this).parents('form').submit()" })
    </div>
    <div>
        <h2>@ViewBag.Message</h2>
    </div>
    <br /><div style="overflow: auto; width:1500px;">
        @Html.Grid(Model.ExhibitorDetails).Columns(columns => 
            {
                columns.Add(c => c.Name).Titled("Stand Name");
                columns.Add(c => c.Stand_Type).Titled("Stand Type");
                columns.Add(c => c.StandCreatedDate).Titled("Stand Created Date");
                columns.Add(c => c.Size).Titled("Size");
                columns.Add(c => c.Width).Titled("Width");
                columns.Add(c => c.Length).Titled("Length");
                columns.Add(c => c.Height).Titled("Height");
                columns.Add(c => c.Company_Name).Titled("Company Name");
                columns.Add(c => c.Forename).Titled("Forename");
                columns.Add(c => c.Surname).Titled("Surname");
                columns.Add(c => c.Email).Titled("Email");
                columns.Add(c => c.Address_Phone).Titled("Phone");
                columns.Add(c => c.Address1).Titled("Address1");
                columns.Add(c => c.Address2).Titled("Address2");
                columns.Add(c => c.Address3).Titled("Address3");
                columns.Add(c => c.Postcode).Titled("Postcode");
                columns.Add(c => c.Town).Titled("Town");
                columns.Add(c => c.County).Titled("County");
                columns.Add(c => c.Country).Titled("Country");
                columns.Add(c => c.i2i_assignment).Titled("i2i assignment");
                columns.Add(c => c.i2i_confirmed_date).Titled("i2i confirmed date");
            }).WithPaging(20).Sortable(true)
    </div>
    <div>
        @Html.ActionLink("Download CSV file", "DownloadCSV", "NewEmol")
    </div>

}