﻿@{
    
@model EMOLExhibitors2.ViewModels.UBMIndexViewModel
}
@using System.Collections
@using System.Data;
<hgroup class="title">
    <h1>UBM</h1>
</hgroup>

@using (@Html.BeginForm("Index", "UBM", FormMethod.Post))
{
    <div>
        @Html.Label("Select File") @Html.DropDownList("SelectedFile", new SelectList(Model.Files, "Name", "Name", ViewBag.SelectedFile), "Select File", new { onchange = "$(this).parents('form').submit()" })
        @{
            var items = Model.Data;
        }
        @if (items != null)
        {
            <div>
                <br />@Html.ActionLink("Download CSV file", "DownloadCSV", "UBM")
            </div>
        }
    </div>
    if (items != null)
    {
        <div  style="overflow: auto; width: 1500px;">
            <table class="table-hover">
                <tbody >
                    @foreach (var row in Model.Data)
                    {
                        <tr>
                            @foreach (var cell in row.ItemArray)
                            {
                                <td>@cell.ToString()</td>
                            } 
                        </tr>
                    }         
                </tbody>
            </table>
        </div>
    }
}
 