﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Online Manual</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
        <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <img src="@Url.Content("~/images/ges_logo.jpg")" />
                    </p>
                </div>
                <div class="float-left">
                    <br/><nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Old Emol", "Index", "OldEmol")</li>
                            <li>@Html.ActionLink("New Emol", "Index", "NewEmol")</li>
                            <li>@Html.ActionLink("UBM", "Index", "UBM")</li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; GES LIMITED, SILVERSTONE DRIVE, GALLAGHER BUSINESS PARK, COVENTRY CV6 6PA. TEL: 02476 380 190</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
